<div class="dashboard-right" *ngIf="user">
  <div class="dashboard">
    <div class="page-title" style="display: flex; justify-content: space-between;">
      <div>
        <h4>{{greeting}}! {{user?.name.split(" ")[0]}}</h4>
      </div>
      <div>
        <h4><b>Your Points:</b> {{user?.points || 0}} LL</h4>
      </div>

    </div>
    <div class="welcome-msg"></div>
    <div class="box-account box-info">
      <div class="box-head">
        <h2>Account Information</h2>
      </div>
      <div class="row">
        <div class="col-sm-6">
          <div class="box">
            <div class="box-title">
              <h3>Contact Information</h3>
              <a routerLink="/me/edit-profile">Edit</a>
            </div>
            <div class="box-content">

              <h6>{{user?.name}}</h6>
              <h6>{{user?.email}}</h6>
              <h6 *ngIf="user?.phoneNumber">{{user?.phoneNumber}}</h6>

            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="box">
            <div class="box-title">
              <h3>Default Shipping Address</h3>

              <a routerLink="/me/edit-profile">Edit Address</a>
            </div>
            <div class="box-content">
              <address *ngIf="!user?.address">
                You have not set a default billing address.
              </address>
              <address *ngIf="user?.address">
                {{user?.address}}
              </address>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>