<div class="row gy-5">
  <div class="col-md-4 service-block">
    <div class="media">
      <img
        src="assets/images/3.jpeg"
        style="width: 150px"
        class="service-icon"
        alt=""
      />

      <div class="media-body">
        <h4>Open 7 days a week</h4>
        <p>online service for new customer</p>
      </div>
    </div>
  </div>
  <div class="col-md-4 service-block">
    <div class="media">
      <img src="assets/images/2.jpeg" class="service-icon" alt="" />

      <div class="media-body">
        <h4>free local shipping</h4>
        <p>ORL - MIA</p>
      </div>
    </div>
  </div>
  <div class="col-md-4 service-block">
    <div class="media">
      <img src="assets/images/1.jpeg" class="service-icon" alt="" />

      <div class="media-body">
        <h4>special deals</h4>
        <p>Recieve Rewards For Shopping</p>
      </div>
    </div>
  </div>
</div>
