<div class="row">
 
  <div class="col-md-4 service-block">
    <div class="media">
      <img src="assets/images/icon/customer-review-customer-review.svg" class="service-icon" alt="" />

      <div class="media-body">
        <h4>24 X 7 service</h4>
        <p>online service for new customer</p>
      </div>
    </div>
  </div>
  <div class="col-md-4 service-block">
    <div class="media">
      <img src="assets/images/icon/marijuana-shipping.svg" class="service-icon" alt="" />

      <div class="media-body">
        <h4>free shipping</h4>
        <p>instant shipping world wide</p>
      </div>
    </div>
  </div>
  <div class="col-md-4 service-block">
    <div class="media">
      <img src="assets/images/icon/deal.svg" class="service-icon" alt="" />

      <div class="media-body">
        <h4>special deals</h4>
        <p>new special deals and offers</p>
      </div>
    </div>
  </div>
</div>
