<div>
    <h4>My Orders</h4>
</div>
<div class="col-md-12 empty-cart-cls text-center" *ngIf='!orders'>
    <img src="../../../../assets/images/icon/cloning.svg" style="width: 150px" alt="Empty cart" title="Emprt cart">
    <h3 class="mt-2"><b>You Have No Order</b></h3>
    <h4>Explore Store.</h4>
</div>

<div *ngIf="orders">
    <div *ngFor="let order of orders" class="card mb-3">
        <div class="card-header">
            Order #{{ order.orderId }}
        </div>
        <div class="card-body">
            <h5 class="card-title">Total: {{ order.totalAmount | currency }}</h5>
            <p class="card-text">Status: {{ order.status }}</p>
            <p class="card-text">Payment Method: {{ order.paymentMethod }}</p>
            <p class="card-text">Date: {{ order.time }}</p>
            <p class="card-text">Delivery Date: {{ order.delivery_date }}</p>
            <p class="card-text">Products:</p>
            <ul class="items-list">
                <li *ngFor="let product of order.product; let i = index" class="item">
                    <span class="item-name">{{i + 1}}. {{ product.title }}</span>
                    <span class="item-quantity">Price: {{ product.price | currency }}</span>
                </li>
            </ul>
        </div>
    </div>

</div>