<app-header-one [themeLogo]="themeLogo" *ngIf="!isLoading && isActivated">
</app-header-one>
<app-slider
  [class]="'text-white'"
  [sliders]="sliders"
  [textClass]="'text-center p-center'"
  [category]="'CBD'"
  [buttonClass]="'btn-green'"
  [buttonText]="'shop now'"
  *ngIf="!isLoading && isActivated"
>
</app-slider>

<!-- Home slider End -->

<!-- service section start -->
<section
  class="banner-padding absolute-banner pb-0 tools-service"
  *ngIf="!isLoading && isActivated"
>
  <div class="container absolute-bg">
    <div class="service p-0">
      <app-services></app-services>
    </div>
  </div>
</section>
<!-- service section end -->
<section
  class="banners-section d-none d-lg-block"
  *ngIf="!isLoading && isActivated"
>
  <div class="auto-container">
    <div class="row">
      <!-- Banner Box Four -->
      <div class="banner-box-four col-lg-6 col-md-12">
        <div class="inner-box overlay-anim">
          <div class="image">
            <img src="../../../assets/images/banner-2.jpeg" alt="" />
          </div>
          <div class="content">
            <h3>
              Get <br />Fresh <br />
              Cannabis
            </h3>
            <a routerLink="/store/collections" class="theme-btn btn-style-one"
              >Shop Now</a
            >
          </div>
        </div>
      </div>

      <!-- Banner Box Four -->
      <div class="banner-box-four col-lg-6 col-md-12">
        <div class="inner-box overlay-anim">
          <div class="image">
            <img src="../../../assets/images/banner-1.jpeg" alt="" />
          </div>
          <div class="content">
            <h3>Get <br />Effective <br />Hookahs</h3>
            <a routerLink="/store/collections" class="theme-btn btn-style-one"
              >Shop Now</a
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section
  *ngIf="!isLoading && isActivated"
  class="about-section-three"
  style="background-image: url(../../../assets/images/images/background/5.jpg)"
>
  <div class="auto-container">
    <div class="row">
      <!-- Content Column -->
      <div class="content-column col-lg-6 col-md-12 col-sm-12 order-3">
        <div class="inner-column wow fadeInRight">
          <div class="sec-title">
            <span class="sub-title">About Luxury Leaf</span>
            <h2>High quality smoking experience</h2>
            <div class="text">
              Welcome to Luxury Leaf Co., your one-stop destination for all your
              smoke shop needs. We are dedicated to providing you with a
              high-quality smoking experience , we offer flower, accessories,
              and expert advice to our valued customers.
            </div>
          </div>

          <ul class="feature-list">
            <li>
              <div class="inner">
                <i class="fa fa-check-circle"></i> Quality Marijuana
              </div>
            </li>
            <li>
              <div class="inner">
                <i class="fa fa-check-circle"></i> Quality Cannabis
              </div>
            </li>
          </ul>
        </div>
      </div>

      <!-- Image Column -->
      <div class="image-column col-lg-6 col-md-12 col-sm-12 d-none d-lg-block">
        <div class="image-box">
          <figure class="image-1" data-wow-delay="300ms">
            <img src="../../../assets/images/cbd-oil.jpg" alt="" />
          </figure>
          <figure class="image-2" data-wow-delay="300ms">
            <img src="../../../assets/images/natural-cannabis.jpg" alt="" />
          </figure>
          <div class="exp-box" data-wow-delay="900ms">
            <div class="inner"><strong>10K +</strong>Monthly Orders</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- FAQ Section -->
<section class="faqs-section" *ngIf="!isLoading && isActivated">
  <div class="auto-container">
    <div class="anim-icons">
      <span class="bg-pattern-left"></span>
      <span class="bg-pattern-right"></span>
    </div>
    <div class="row">
      <!-- FAQ Column -->
      <div class="faq-column col-lg-7 col-md-12 col-sm-12 order-4">
        <div class="inner-column">
          <div class="sec-title">
            <span class="title">Frequently Asked Questions</span>
            <h2>Got Any Question?</h2>
          </div>

          <ul class="accordion-box">
            <li
              *ngFor="let faq of faqs; let i = index"
              class="accordion block"
              [class.active-block]="faq.isOpen"
            >
              <div
                class="acc-btn"
                [class.active]="faq.isOpen"
                (click)="toggleFaq(i)"
              >
                {{ faq.question }}
                <div class="icon fa fa-angle-right"></div>
              </div>
              <div class="acc-content" [class.current]="faq.isOpen">
                <div class="content">
                  <div class="text">
                    {{ faq.answer }}
                  </div>
                </div>
              </div>
            </li>
          </ul>
          <a routerLink="/l/faq" class="theme-btn mt-5 btn-style-one"
            >View More</a
          >
        </div>
      </div>

      <!-- Image Column -->
      <div class="image-column col-lg-5 col-md-12 col-sm-12">
        <div class="inner-column">
          <figure class="image">
            <img src="../../../assets/images/cbd-oil2.jpg" alt="" />
          </figure>
        </div>
      </div>
    </div>
  </div>
</section>
<!--End FAQ Section -->
<!-- product slider start -->
<div
  *ngIf="!isLoading && isActivated"
  style="margin-top: -50px"
  class="title3 section-t-space"
>
  <h4>special deals</h4>
  <h2 class="title-inner3">new products</h2>
  <div class="line"></div>
</div>
<section
  *ngIf="!isLoading && isActivated"
  class="p-t-0 section-b-space tools-grey border-box"
  style="margin-top: -60px; max-height: fit-content !important"
>
  <div class="container">
    <div class="row">
      <div class="col-lg-3 col-md-4 col-sm-12" *ngFor="let product of products">
        <div class="product-box product-wrap">
          <app-product-box-three
            [product]="product"
            [currency]="productService?.Currency"
          >
          </app-product-box-three>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- product slider end -->

<app-age-verification *ngIf="!isLoading && isActivated"></app-age-verification>
<app-cart-variation
  *ngIf="!isLoading && isActivated"
  [direction]="'right'"
></app-cart-variation>
<!-- Cart Open To Right Side-->
<app-footer-one *ngIf="!isLoading && isActivated"></app-footer-one>

<div *ngIf="!isLoading && !isActivated">
  <app-no-access [status]="accountStatus"></app-no-access>
</div>
