<div class="dashboard-right">
  <div class="dashboard">
    <div class="row mb-5">
      <div class="col-sm-12">
        <h3>Change Password</h3>
        <form class="theme-form">
          <div class="form-row">
            <div class="col-md-6">
              <label for="name">Email Address</label>
              <input
                type="email"
                class="form-control"
                id="email"
                placeholder="Enter your email address"
                required=""
                name="email"
                [(ngModel)]="email"
              />
            </div>
         
          </div>
          <div class="col-md-12 mt-3" >
            <button class="btn btn-sm btn-solid" type="button" (click)="changePass()">
              Get Reset Link
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
