<div class="dashboard-right">
  <div class="dashboard">
    <div class="row mb-5">
      <div class="col-sm-12">
        <h3>Change Password</h3>
        <form class="theme-form">
          <div class="form-row">
            <div class="col-md-6">
              <label for="name">Old Password</label>
              <input
                type="password"
                class="form-control"
                id="old"
                placeholder="Enter old password"
                required=""
              />
            </div>
            <div class="col-md-6">
              <label for="email">New Password</label>
              <input
                type="text"
                class="form-control"
                id="new"
                placeholder="password"
                required=""
              />
            </div>
          </div>
          <div class="col-md-12 mt-3">
            <button class="btn btn-sm btn-solid" type="submit">
              Change
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
