.logo {
  width: 77px;
  height: 40px;
  padding-left: 10px;
}


@media screen and (max-width: 767px) {
  .heromain {
    font-size: 52px !important;
  }
  .login-tab-a {
    margin-bottom: 70px;
  }
}
.luxury-aa {
  font-size: 28px;
    font-weight: 600;
    margin-left: 10px;
    color: #000;
}