.logo {
  width: 77px;
  height: 40px;
  padding-left: 10px;
}

.login-tab-a {
  margin-top: 50px !important;
}
@media screen and (max-width: 767px) {
  
  .heromain {
    font-size: 50px !important;
  }
  .login-tab-a {
    margin-top: -20px !important; 
  }
  .bann-a {
    width: 320px !important;
    height: 320px !important;
  }
  .title
  {
    text-align: center !important;
  }
  .title h2 {
    font-size: 24px !important;
    margin-bottom: -10px;
  }
}
.luxury-aa {
  font-size: 28px;
    font-weight: 600;
    margin-left: 10px;
    color: #000;
}
@media (max-width: 577px) {
  .brand-logo {
    left: 38% !important;
  }
}
