<app-breadcrumb [title]="'FAQ'" [breadcrumb]="'FAQ'"></app-breadcrumb>

<section class="">
  <div class="container" style="margin-top: -100px;">
    <div class="row">
      <div class="col">
        <ul class="accordion-box a-row">
          <li *ngFor="let faq of faqs; let i = index" class="accordion block col-sm-12" [class.active-block]="faq.isOpen">
            <div class="acc-btn" [class.active]="faq.isOpen" (click)="toggleFaq(i)">
              {{faq.question}}
              <div class="icon fa fa-angle-right"></div>
            </div>
            <div class="acc-content" [class.current]="faq.isOpen">
              <div class="content">
                <div class="text">
                  {{faq.answer}}
                </div>
              </div>
            </div>
          </li>
        </ul>

      </div>
    </div>
  </div>
</section>
<!--End FAQ Section -->